<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dangdiary"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- package 부분 내가 작성 ^^ ..-->
    <!--    안드로이드 4대 컴포넌트 (Activity, Service, Broadcast Receiver, Content Provider가 정의된 곳-->

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Dangdiary"

        android:usesCleartextTraffic="true"

        tools:targetApi="31">

        <!--cleartextTraffic -> http로 시작하는 사이트에 접근 하기 위해 사용 -->

        <activity
            android:name=".diet.java.WriteFood"
            android:exported="false" />
        <activity
            android:name=".Join"
            android:exported="false" />
        <activity
            android:name=".diet.java.FoodRegister"
            android:exported="false" />
        <activity
            android:name=".blood.java.BloodRegister"
            android:exported="false" />
        <activity
            android:name=".HomeMenu"
            android:exported="false" />
        <activity
            android:name=".BloodOrFood"
            android:exported="false" />
        <activity
            android:name=".diet.java.FoodView"
            android:exported="false"/>
        <activity
            android:name=".BloodView"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.camera.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>


    </application>

</manifest>